@import "src/styles/variables.scss";

.bridge {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 65px;
  margin-bottom: 100px;
}

.color {
  color: $color-khaki;
}

.description {
  color: var(--secondary-color);
  font-family: var(--font-mont);
  font-weight: 500;
  font-size: 18px;
  padding-top: 45px;
  line-height: 32px;
}
