.featured {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  span {
    color: var(--color-khaki);
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
  }
}

.images {
  background: #f3f3f3;
  padding: 0 20px;
  border-radius: 10px;
  display: grid;
  height: 237px;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 0;
  img {
    mix-blend-mode: darken;
  }
}
