@import "src/styles/variables.scss";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup {
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  padding: 30px;
  height: 95vh;
  overflow-y: auto;
  max-width: 1170px;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  h2 {
    padding-bottom: 50px;
    text-align: center;
  }

  button {
    width: 250px;
  }
}

.closeButton {
  background: #bda76a;
  border-radius: 150px;
  outline: none;
  padding: 15px;
  right: -2px;
  top: -9px;
  position: absolute;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.content {
  margin-top: 10px;
}
