.reviews {
  padding-top: 50px;
}

.review_title {
  font-family: var(--font-mont);
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 147.9%;
}

.card {
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 4px 20px 0 rgba(0, 0, 0, 0.15);
  padding: 15px;
  height: 180px;
  overflow-y: auto;
}

.name {
  font-family: var(--font-mont);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
  padding-bottom: 50px;
}

.card_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  font-family: var(--font-mont);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  padding-top: 15px;
  letter-spacing: -0.2px;
}
