@import "src/styles/variables.scss";

.banner {
  margin-top: 130px;
  display: flex;
  align-items: center;
  gap: 70px;
  padding-left: 40px;
}

.image_inner {
  position: relative;
}

.color {
  color: $color-khaki;
}

.dots {
  position: absolute;
  left: -40px;
  top: -40px;
  z-index: 1;
}

.image {
  border-radius: 10px;
  z-index: 2;
  position: relative;
  //  transform: matrix3d(0.94, 0, 0.34, 0.0002, 0, 1, 0, 0, -0.34, 0, 0.94, 0, 1, 0, 10, 1) translateX(30px);
}

.banner_right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 45px;
}

.description {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  font-family: var(--font-mont);
  line-height: 32px;
  color: var(--secondary-color);
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 65px;
  margin-bottom: 100px;
}
