@import "src/styles/variables.scss";

.description {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--font-mont);
  color: $color-khaki;

  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 60px;
}

.services {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}

.our_services {
  background: var(--bg-nolayout-color);
}

.our_services_inner {
  max-width: 1170px;

  padding: 100px 0;
  margin: 0 auto;
}

@media screen and (max-width: $smDesktopWidth) {
  .services {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: $smTableWidth) {
  .services {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: $phoneWidth) {
  .services {
    grid-template-columns: auto;
    padding: 0 5px;
  }
}
