.app_dark_theme {
  --bg-color: #000;
  --primary-color: #fff;
  --secondary-color: #fff;
  --feedback-color: #fff;
  --title-cover: #000;
  --title-cover-hover: #fff;
  --color-khaki: #b09a5f;
  --color-price: #bda76a;
  --color-price-title: #000;
  --button-color: #fff;
  --hover-color: #1c1c1c;
  --bg-nolayout-color: #0f0f0f;
  --hover-contained-button: #b09a5f;
}
