.app_light_theme {
  --bg-color: #fff;
  --primary-color: #000;
  --button-color: #fff;
  --title-cover: #fff;
  --title-cover-hover: #fff;
  --color-khaki: #b09a5f;
  --bg-nolayout-color: #f3f3f3;
  --color-develop: #0f0f0f;
  --color-price-title: #000;
  --color-price: #bda76a;
  --secondary-color: #1a1a1a;
  --feedback-color: #141414;
  --hover-color: #e4e2e2;
  --hover-contained-button: #b09a5f;
  --dev-color: #1a1a1a;
  --color-develop-item: #0f0f0f;
  --outline-button-color: #000;
}
