@import "reset";
@import "variables";
@import "themes/dark";
@import "themes/light";

.layout {
  max-width: 1170px;
  margin: 0 auto;
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  padding-bottom: 75px;
}

.swiper-pagination-bullet-active {
  background: var(--color-khaki);
}

.swiper-pagination-bullet {
  width: 19px;
  height: 19px;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.103969);
}
