@import "reset";
@import "variables";
@import "themes/dark";
@import "themes/light";

.layout {
  max-width: 1170px;
  margin: 0 auto;
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}
