@import "src/styles/variables.scss";

.work {
  background: var(--bg-nolayout-color);
  margin-bottom: 100px;

  h2 {
    text-align: center;
    padding-bottom: 85px;
  }
}

.work_inner {
  max-width: 1170px;

  margin: 0 auto;
}

.two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  place-items: flex-start;
}

.gray {
  background: var(--bg-nolayout-color);
  padding: 100px 0;
}

.white {
  background: var(--bg-color);
}

@media screen and (max-width: $smDesktopWidth) {
}

@media screen and (max-width: $tableWidth) {
  .three {
    grid-template-columns: auto;
  }

  .two {
    grid-template-columns: auto;
  }

  .four {
    grid-template-columns: auto;
  }
}
