@import "src/styles/variables.scss";

.price {
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

@media screen and (max-width: $smDesktopWidth) {
  .price {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: $tableWidth) {
  .price {
    grid-template-columns: auto;
  }
}
