@import "src/styles/variables.scss";

.header {
  background: var(--bg-color);
  padding-top: 55px;
  z-index: 1500;
  // position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.header_inner {
  max-width: 1170px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  justify-content: space-between;
  margin: 0 auto;
}

.bg {
  background: #f3f3f3;
  border-radius: 60px;
  transform: rotate(25deg);
  width: 1110px;
  position: absolute;
  height: 1110px;
  z-index: 1;
}

@media screen and (max-width: $phoneWidth) {
  .header {
    padding-top: 25px;
  }

  .header_inner {
    flex-direction: column;
    gap: 20px;
  }
}
