@import "../../../styles/variables.scss";

.typography {
  font-weight: 700;
  text-align: center;
  font-family: var(--font-rubik);
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.small {
  font-size: 40px;
  line-height: 48px;
}

.medium {
  font-size: 50px;
  line-height: 58px;
}

.large {
  font-size: 60px;
  line-height: 70px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

@media screen and (max-width: $phoneWidth) {
  .small {
    font-size: 30px;
    line-height: 48px;
  }

  .medium {
    font-size: 40px;
    line-height: 58px;
  }

  .large {
    font-size: 50px;
    line-height: 70px;
  }
}
