@import "src/styles/variables.scss";

.typography {
  text-transform: uppercase;
  font-weight: 700;
  font-family: var(--font-mont);
}

.white {
  color: var(--primary-color);
}

.black {
  color: var(--primary-color);
}

.small {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -1.92px;
}

.mini {
  font-size: 45px;
  line-height: 58px;
  letter-spacing: -1.92px;
}

.medium {
  font-size: 60px;
  line-height: 55px;
  letter-spacing: -1px;
}

.large {
  font-size: 65px;
  line-height: 70px;
  letter-spacing: -4.24px;
}

@media screen and (max-width: $phoneWidth) {
}
