@import "src/styles/variables.scss";

.cases {
  margin: 100px 0;
  margin-bottom: 150px;
}

.cases_inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

@media screen and (max-width: $smDesktopWidth) {
  .cases_inner {
    grid-template-columns: auto;
  }
}
