.keyword {
  background: var(--bg-nolayout-color);

  h2 {
    text-align: center;

    span {
      color: var(--color-khaki);
    }
  }
}

.gray {
  padding: 100px 0;
  padding-bottom: 0;
  margin-bottom: 100px;
  background: var(--bg-nolayout-color);
}

.white {
  background: var(--bg-color);
}

.keyword_inner {
  max-width: 1170px;
  padding-top: 0;
  padding-bottom: 100px;
  margin: 0 auto;
}

.list_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.numbers {
  padding: 60px 33px 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-position: inside;

  li {
    font-style: normal;
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    font-family: var(--font-mont);
    color: var(--secondary-color);
  }
}

.list {
  padding: 60px 33px 0;
  gap: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-position: inside;

  li {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    font-family: var(--font-mont);
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--secondary-color);
  }
}
