.label {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.placeholder {
  color: var(--dev-color);
  font-family: var(--font-mont);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.textarea {
  border-radius: 10px;
  background: #f8f7f7;
  height: 150px;
  resize: none;
  outline: none;
  border: none;
  font-family: var(--font-mont);
  padding: 15px;
}
