@import "src/styles/variables.scss";

.navigation {
  display: flex;
  flex-direction: column;
  font-family: var(--font-mont);
  align-items: flex-end;
  gap: 25px;
}

.theme {
  display: flex;
  align-items: center;
  gap: 22px;
}

.menu {
  display: flex;
  align-items: center;

  gap: 38px;
}

.active {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.274286px;
  color: $color-khaki;
}

.link {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.274286px;
  color: var(--primary-color);
  transition: color 0.2s ease;

  &:hover {
    color: $color-khaki;
  }
}
