@import "src/styles/variables.scss";

.giving {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 69px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 70px;
}

.left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.description {
  padding-top: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;

  font-family: var(--font-mont);
  text-align: center;
  letter-spacing: -0.2px;

  color: var(--secondary-color);
}

@media screen and (max-width: $tableWidth) {
  .giving {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

@media screen and (max-width: $phoneWidth) {
  .giving {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }

  .left {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
