@import "src/styles/variables.scss";

.main {
  position: relative;

  .price_inner {
    padding-bottom: 23px;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: flex-start;

    &::after {
      position: absolute;
      width: 100%;
      content: "";
      height: 1px;
      bottom: 20px;
      background: #d9d9d9;
    }
  }
}

.even_row {
  background-color: #f2f2f2;
  text-align: center;
}

.even_highlight {
  background: #bda76a;
}

.highlight {
  background: #d0bb7f;
}

.tbody {
  margin-top: 20px;
}

.row {
  text-align: center;
  border-collapse: collapse;
}

.row_td {
  text-align: center;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 45px;

  color: var(--primary-color);
  font-family: var(--font-mont);
}

.table {
  margin-bottom: 50px;
}

.price {
  border-collapse: collapse;
  th {
    &:nth-last-child(2) {
      background: #bda76a;
      border-radius: 8px 8px 0 0;

      padding-bottom: 10px;
      .title {
        color: var(--button-color);
      }

      .price {
        color: #ffffff;
      }

      .dollar {
        color: #ffffff;
      }

      .mouth {
        color: #ffffff;
      }

      .description {
        color: var(--button-color);
      }

      .price_inner {
        padding-bottom: 23px;
        display: flex;
        gap: 3px;
        justify-content: center;
        align-items: flex-start;

        &::after {
          position: absolute;
          width: 100%;

          content: "";
          height: 1px;
          bottom: 20px;
          background: #d0bb7f;
        }
      }
    }
  }
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  padding-top: 40px;
  font-family: var(--font-mont);
  color: var(--primary-color);
}

.featured {
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  font-family: var(--font-mont);
  color: var(--primary-color);
}

.description {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  font-family: var(--font-mont);
  color: var(--primary-color);
  padding: 17px 0;
}

.featured_inner {
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  font-family: var(--font-mont);
  color: var(--primary-color);
}

.price {
  font-weight: 700;
  font-size: 40px;
  font-family: var(--font-mont);
  color: #bda76a;
  line-height: 60px;
}

.dollar {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.137143px;
  font-family: var(--font-mont);
  text-transform: uppercase;
  color: #bda76a;
}

.mouth {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.137143px;
  text-transform: uppercase;
  font-family: var(--font-mont);
  color: #bda76a;
}

@media screen and (max-width: $tableWidth) {
  .featured {
    font-size: 15px;
    line-height: 14px;
  }

  .title {
    font-size: 12px;
    line-height: 14px;
  }

  .description {
    font-size: 12px;
    line-height: 14px;
  }

  .dollar {
    font-size: 12px;
    line-height: 15px;
  }

  .price {
    font-size: 20px;
    line-height: 30px;
  }

  .mouth {
    font-size: 12px;
    line-height: 15px;
  }

  .row_td {
    font-size: 12px;
    line-height: 22px;
  }
}

@media screen and (max-width: $phoneWidth) {
  .featured {
    font-size: 10px;
    line-height: 14px;
  }

  .title {
    font-size: 10px;
    line-height: 14px;
  }

  .description {
    font-size: 10px;
    line-height: 14px;
  }

  .dollar {
    font-size: 10px;
    line-height: 15px;
  }

  .price {
    font-size: 15px;
    line-height: 30px;
  }

  .mouth {
    font-size: 10px;
    line-height: 15px;
  }

  .row_td {
    font-size: 10px;
    line-height: 17px;
  }
}

.button {
  width: 250px;
  padding: 15px 30px;
  margin-top: 20px;
}

.planButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.select_svg {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.btn_submit {
  width: 100%;
  margin-top: 50px;
}

@media screen and (max-width: $phoneWidth) {
  .planButtons {
    justify-content: end;
  }

  .button {
    width: 80px;
    padding: 5px 15px;
    margin-top: 20px;
    font-size: 10px;
  }
}
