@import "src/styles/variables.scss";

.title {
  font-weight: 700;
  font-size: 50px;
  text-align: center;

  line-height: 55px;
}

.process {
  background: var(--bg-nolayout-color);
  margin-top: 100px;
  margin-bottom: 100px;
}

.process_inner {
  max-width: 1170px;
  padding: 100px 0;
  margin: 0 auto;
}

.main {
  padding-top: 50px;

  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 72px;
}

.right {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  font-family: var(--font-mont);
  color: var(--secondary-color);

  ul {
    font-weight: 600;
    list-style: disc;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

@media screen and (max-width: $tableWidth) {
  .main {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: $phoneWidth) {
  .items {
    grid-template-columns: auto;
  }

  .item {
    &:after {
      right: 50px;
      top: 0;
    }

    &:nth-child(even) {
      &:after {
        left: 23%;
        top: 10%;
      }
    }
  }
}
