@import "src/styles/variables.scss";

.image_banner {
  margin-top: 130px;
  display: flex;
  align-items: center;
}

.left {
  width: 45%;
}

.right {
  width: 55%;
}

.color {
  color: $color-khaki;
}

.description {
  font-style: normal;
  font-weight: 500;
  padding-top: 4px;
  font-size: 18px;
  line-height: 28px;
  font-family: var(--font-mont);
  color: var(--secondary-color);
}

.images {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 28px;
  margin-bottom: 40px;
}
