.work_item {
  background: var(--primary-color);
  display: flex;
  align-items: center;
  font-family: var(--font-mont);
  flex-direction: column;
  padding: 80px 0;
  border-radius: 10px;
}

.work_item_image {
  background: var(--primary-color);
  display: flex;
  align-items: center;
  font-family: var(--font-mont);
  flex-direction: column;
  padding: 52px 0 30px;
  border-radius: 10px;
}

.image {
  margin-bottom: 20px;
}

.border {
  margin-bottom: 30px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;

  padding-bottom: 30px;
  text-align: center;
  letter-spacing: -0.62px;
  color: var(--title-cover);
}

.title_size {
  font-family: var(--font-mont);
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.62px;
  color: var(--title-cover);
  padding-bottom: 32px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 0 27px;
  text-align: center;
  letter-spacing: -0.2px;
  color: var(--title-cover);
}
